@font-face {
font-family: dinpro;
src: url(../fonts/DINPro-Bold-tr.ttf);
}

html {
  scroll-behavior: smooth;
font-family: dinpro, serif;
}

body {
    font-family: dinpro, sans-serif;
    font-weight: 700;
}

/********************************************************/
@media (min-width: 320px) { 
    
    .pading-5 {
        padding-top: 0rem;
    }    
    
/*.imagen-2 {   
    
background: url("imagenes/Grupo643@2x.png") no-repeat center top scroll;  
-webkit-background-size:cover;
-moz-background-size:cover ;
-o-background-size: cover;
background-size: 150%;
background-position: -80px -200px;
    
}*/
    
    .color-blanco {
        
    color: #ffff;
    text-shadow: 2px 0px 2px rgba(150, 150, 150, 0.23);
        
}    
    .pading-top-1 {
    
    padding-top: 3rem!important;
}
    
    .btn-secondary  {
    
background-color: #FE3B78;
border-color: #FE3B78;
border-radius: 22px;
width: 90% !important;
color: #ffffff !important;
    
}

.btn-secondary:hover    {
    
background-color: lightcoral;
border-color: lightcoral;
    
}
    .btn-success    {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 90%;
    
}

.btn-success:hover  {
    
background-color: #000033;
border-color: #000033;
    
}
    
.btn-primary {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 100%;
color: #ffffff !important;
    
    }

    
       .cuadro {
    
background: rgba(255,133,78,1);
background: -moz-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,133,78,1)), color-stop(100%, rgba(254,59,120,1)));
background: -webkit-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -o-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -ms-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: linear-gradient(to bottom, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff854e', endColorstr='#fe3b78', GradientType=0 );
    padding: 57px 30px 31px;
    margin-bottom: -200px;
    overflow: hidden;
-webkit-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
-moz-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
    border-radius: 10px;
    
}
    
.fondo  {
    
background: rgba(255,133,78,1);
background: -moz-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,133,78,1)), color-stop(100%, rgba(254,59,120,1)));
background: -webkit-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -o-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -ms-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: linear-gradient(to bottom, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff854e', endColorstr='#fe3b78', GradientType=0 );
color: #ffffff; 
    
}

.section_padding {
    
    padding: 50px 0;
    
}
    
.margen-bottom-1 {
        
        margin-bottom: 3rem;
}

.margen-top-1   {
    
    margin-top: 1.75rem;
}

.pading-top-1 {
    
    padding-top: 1.75rem!important;
}

.pading-bottom-1 {
    
        padding-bottom: 3rem!important;
} 
 
.pading-bottom-2 {
    
        padding-bottom: 0rem!important;
}     
    
.titulo-principal{
        font-size: 1.75rem;
    } 
    
    .titulo-secundario {
        font-size: 1.20rem;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .titulo-secundario2 {
        font-size: 1.60rem;
        padding-left: 50px;
        padding-right: 50px;
        font-weight: bold;
    }
    
    
    .margen-bottom   {
        
        margin-bottom: 3rem!important;
    }
    .margen-bottom-2  {
        
        margin-bottom: 0rem!important;
    } 
    
    .ocultar1 {
        display: inline;
    } 
    .ocultar2 {
        display: none;
    } 
    
    .imagen-3 {   
    
background: url("imagenes/Grupo643@2x.png") no-repeat center bottom scroll;  
-webkit-background-size:cover !important;
-moz-background-size:cover !important;
-o-background-size: cover !important;
background-size: 150%;
background-position: -180px 300px;
}
    
 .cuadro {
        
padding: 07px 20px 31px;
        
        
}
    
    .size-letra {
        font-size: 15px;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    
    .text-muted {
    
        color: white !important;
        font-weight: bold
            
}
    
    .alineacion-izquieda {
        
       text-align: left;
    }  
    
        .imagen-2-principal {   
    
background: url("imagenes/Grupo643@2x.png") no-repeat center top scroll;  
-webkit-background-size:cover;
-moz-background-size:cover ;
-o-background-size: cover;
background-size: 150%;
background-position: -80px -100px;
    
}
    
    .fondo-425 {
        background-color: white;
    }  
    
       .bg-light {
        
    background-color: white !important;
    color: #000 !important;    
}
    
    .menu-blanco {
        color: #fff !important;
    }
    .menu-negro {
        color: #000 !important;
    }
    
    .ma-le-5   {
        
        margin-left: 0rem!important;
        
    }
    
    .ma-re-5   {
        
        margin-right: 0rem!important;
        
    }
    
    .ma-bo-5 {
        margin-bottom: 3rem!important;
    }
    
} /*********************** FIN 320px *********************/





@media (min-width: 375px) { 
    
/*.imagen-2 {   
    
background: url("imagenes/Grupo643@2x.png") no-repeat center top scroll;  
-webkit-background-size:cover;
-moz-background-size:cover ;
-o-background-size: cover;
background-size: 150%;
background-position: -100px -300px;
    
}*/
    
    .color-blanco {
        
    color: #ffff;
    text-shadow: 2px 0px 2px rgba(150, 150, 150, 0.23);
        
}    
    .pading-top-1 {
    
    padding-top: 3rem!important;
}
    
    .btn-secondary  {
    
background-color: #FE3B78;
border-color: #FE3B78;
border-radius: 22px;
width: 90% !important;
color: #ffffff !important;
    
}

.btn-secondary:hover    {
    
background-color: lightcoral;
border-color: lightcoral;
    
}
    .btn-success    {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 90%;
    
}

.btn-success:hover  {
    
background-color: #000033;
border-color: #000033;
    
}
    
.btn-primary {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 100%;
color: #ffffff !important;
    
    }

    
       .cuadro {
    
background: rgba(255,133,78,1);
background: -moz-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,133,78,1)), color-stop(100%, rgba(254,59,120,1)));
background: -webkit-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -o-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -ms-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: linear-gradient(to bottom, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff854e', endColorstr='#fe3b78', GradientType=0 );
    padding: 57px 30px 31px;
    margin-bottom: -200px;
    overflow: hidden;
-webkit-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
-moz-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
    border-radius: 10px;
    
}
    
.fondo  {
    
background: rgba(255,133,78,1);
background: -moz-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,133,78,1)), color-stop(100%, rgba(254,59,120,1)));
background: -webkit-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -o-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -ms-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: linear-gradient(to bottom, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff854e', endColorstr='#fe3b78', GradientType=0 );
color: #ffffff; 
    
}

.section_padding {
    
    padding: 50px 0;
    
}
    
.margen-bottom-1 {
        
        margin-bottom: 3rem;
}

.margen-top-1   {
    
    margin-top: 1.75rem;
}

.pading-top-1 {
    
    padding-top: 1.75rem!important;
}

.pading-bottom-1 {
    
        padding-bottom: 3rem!important;
} 
 
.pading-bottom-2 {
    
        padding-bottom: 0rem!important;
}     
    
.titulo-principal{
        font-size: 1.75rem;
    } 
    
    .titulo-secundario {
        font-size: 1.20rem;
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .titulo-secundario2 {
        font-size: 1.60rem;
        padding-left: 100px;
        padding-right: 100px;
        font-weight: bold;
    }
    
    
    .margen-bottom   {
        
        margin-bottom: 3rem!important;
    }
    .margen-bottom-2  {
        
        margin-bottom: 0rem!important;
    } 
    
    .ocultar1 {
        display: inline;
    } 
    .ocultar2 {
        display: none;
    } 
    
    .imagen-3 {   
    
background: url("imagenes/Grupo643@2x.png") no-repeat center bottom scroll;  
-webkit-background-size:cover !important;
-moz-background-size:cover !important;
-o-background-size: cover !important;
background-size: 150%;
background-position: -180px 300px;
}
    
 .cuadro {
        
padding: 07px 40px 31px;
        
        
}
    
    .size-letra {
        font-size: 15px;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    
    .text-muted {
    
        color: white !important;
        font-weight: bold
            
}
    
    .alineacion-izquieda {
        
       text-align: left;
    }    
    
    .imagen-2-principal {   
    
background: url("imagenes/Grupo643@2x.png") no-repeat center top scroll;  
-webkit-background-size:cover;
-moz-background-size:cover ;
-o-background-size: cover;
background-size: 150%;
background-position: -100px -180px;
    
}
    
    .fondo-425 {
        background-color: white;
    }  
    
       .bg-light {
        
    background-color: white !important;
    color: #000 !important;    
}
    
    .menu-blanco {
        color: #fff !important;
    }
    .menu-negro {
        color: #000 !important;
    }
    
} /*********************** FIN 375px *********************/



@media (min-width: 425px) { 
    
    .fondo-425 {
        background-color: white;
    }    
    
.bg-light {
        
    background-color: white !important;
    color: #000 !important;    
}
    
    .menu-blanco {
        color: #fff !important;
    }
    .menu-negro {
        color: #000 !important;
    }
    
/*.imagen-2 {   
    
background: url("imagenes/Grupo643@2x.png") no-repeat center top scroll;  
-webkit-background-size:cover;
-moz-background-size:cover ;
-o-background-size: cover;
background-size: 150%;
background-position: -100px -300px;
    
}*/
    
.imagen-2-principal {   
    
background: url("imagenes/Grupo643@2x.png") no-repeat center top scroll;  
-webkit-background-size:cover;
-moz-background-size:cover ;
-o-background-size: cover;
background-size: 150%;
background-position: -100px -300px;
    
}
    
    
    .color-blanco {
        
    color: #ffff;
    text-shadow: 2px 0px 2px rgba(150, 150, 150, 0.23);
        
}    
    .pading-top-1 {
    
    padding-top: 3rem!important;
}
    
    .btn-secondary  {
    
background-color: #FE3B78;
border-color: #FE3B78;
border-radius: 22px;
width: 90% !important;
color: #ffffff !important;
    
}

.btn-secondary:hover    {
    
background-color: lightcoral;
border-color: lightcoral;
    
}
    .btn-success    {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 90%;
    
}

.btn-success:hover  {
    
background-color: #000033;
border-color: #000033;
    
}
    
.btn-primary {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 100%;
color: #ffffff !important;
    
    }

    
       .cuadro {
    
background: rgba(255,133,78,1);
background: -moz-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,133,78,1)), color-stop(100%, rgba(254,59,120,1)));
background: -webkit-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -o-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -ms-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: linear-gradient(to bottom, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff854e', endColorstr='#fe3b78', GradientType=0 );
    padding: 57px 30px 31px;
    margin-bottom: -200px;
    overflow: hidden;
-webkit-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
-moz-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
    border-radius: 10px;
    
}
    
.fondo  {
    
background: rgba(255,133,78,1);
background: -moz-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,133,78,1)), color-stop(100%, rgba(254,59,120,1)));
background: -webkit-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -o-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -ms-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: linear-gradient(to bottom, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff854e', endColorstr='#fe3b78', GradientType=0 );
color: #ffffff; 
    
}

.section_padding {
    
    padding: 50px 0;
    
}
    
.margen-bottom-1 {
        
        margin-bottom: 3rem;
}

.margen-top-1   {
    
    margin-top: 1rem;
}

.pading-top-1 {
    
    padding-top: 1rem!important;
}

.pading-bottom-1 {
    
        padding-bottom: 3rem!important;
} 
 
.pading-bottom-2 {
    
        padding-bottom: 0rem!important;
}     
    
.titulo-principal{
        font-size: 1.75rem;
    } 
    
    .titulo-secundario {
        font-size: 1.20rem;
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .titulo-secundario2 {
        font-size: 1.60rem;
        padding-left: 100px;
        padding-right: 100px;
        font-weight: bold;
    }
    
    
    .margen-bottom   {
        
        margin-bottom: 3rem!important;
    }
    .margen-bottom-2  {
        
        margin-bottom: 0rem!important;
    } 
    
    .ocultar1 {
        display: inline;
    } 
    .ocultar2 {
        display: none;
    } 
    
    .imagen-3 {   
    
background: url("imagenes/Grupo643@2x.png") no-repeat center bottom scroll;  
-webkit-background-size:cover !important;
-moz-background-size:cover !important;
-o-background-size: cover !important;
background-size: 150%;
background-position: -180px 300px;
}
    
 .cuadro {
        
padding: 07px 40px 31px;
        
        
}
    
    .size-letra {
        font-size: 20px;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    
    .text-muted {
    
        color: white !important;
        font-weight: bold
            
}
    
    .alineacion-izquieda {
        
       text-align: left;
    }    
    
    
       .bg-light {
        
    background-color: white !important;
    color: #000 !important;    
}
    
    .menu-blanco {
        color: #fff !important;
    }
    .menu-negro {
        color: #000 !important;
    }
    
} /*********************** FIN 425px *********************/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    
    .fondo-425 {
        background-color: transparent;
    }    

.cuadro {
        
padding: 07px 40px 31px;
        
        
}
    
    
/*.imagen-2 {   
    
background: url("imagenes/Grupo643@2x.png") no-repeat center top scroll;  
-webkit-background-size:cover;
-moz-background-size:cover ;
-o-background-size: cover;
background-size: 100%;
background-position: 0px -320px;
    
}*/

.color-blanco {
        
    color: #ffff;
        
}    

.btn-secondary  {
    
background-color: #FE3B78;
border-color: #FE3B78;
border-radius: 22px;
width: 90% !important;
color: #ffffff !important;
    
}

.btn-secondary:hover    {
    
background-color: lightcoral;
border-color: lightcoral;
    
}
    .btn-success    {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 90%;
    
}

.btn-success:hover  {
    
background-color: #000033;
border-color: #000033;
    
}
    
.btn-primary {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 100%;
color: #ffffff !important;
    
    }
   .bg-light {
        
    background-color: white !important;
    color: #000 !important;    
}
    
    .menu-blanco {
        color: #fff !important;
    }
    .menu-negro {
        color: #000 !important;
    }

} /*************** FIN  576PX ************/ 


@media (min-width: 748px) { 
    
    .imagen-2-principal {   
    
background: url("imagenes/Grupo643@2x.png") no-repeat center top scroll;  
-webkit-background-size:cover;
-moz-background-size:cover ;
-o-background-size: cover;
background-size: 39%;
background-position: 800px -420px;
    
}

.imagen {   
    
background: url("imagenes/Grupo697@2x.png") no-repeat center top scroll;  
-webkit-background-size:cover;
-moz-background-size:cover ;
-o-background-size: cover;
background-size: 100%;
    
}
    
.margen-bottom-1  {
        
        margin-bottom: 0rem;
}
.margen-top-1   {
    
    margin-top: 0.3rem;
} 

    .margen-top-1-1   {
    
    margin-top: 3rem;
}   

.pading-top-1 {
    
    padding-top: 0rem!important;
}
    
.pading-bottom-1 {
    
        padding-bottom: 0.5rem!important;
}
    
.btn-secondary  {
    
background-color: #FE3B78;
border-color: #FE3B78;
border-radius: 22px;
width: 100% !important;
color: #ffffff !important;
    
}

.btn-secondary:hover    {
    
background-color: lightcoral;
border-color: lightcoral;
    
}
    .btn-success    {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 100%;
    
}

.btn-success:hover  {
    
background-color: #000033;
border-color: #000033;
    
}
    
.btn-primary {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 100%;
color: #ffffff !important;
    
    }
    
.fixe {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.titulo-secundario {
    font-size: 1.20rem;
    padding-left: 40px;
    padding-right: 40px;
}
    
.margen-bottom {
    margin-bottom: 1rem!important;
}
    
.ocultar1 {
        display: none;
    }   
    .ocultar2 {
        display: inline;
}
    
    .titulo-secundario2 {
    font-size: 1.60rem;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
}
    .cuadro {
    padding: 17px 10px 11px;
}
    
        .color-blanco {
        
    color: #000;   
    text-shadow: 0px 0px 0px white;
}  
    
 } /*********************** FIN  min-width: 748px ******/

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    
    .imagen-2-principal {   
    
background: url("imagenes/Grupo643@2x.png") no-repeat center top scroll;  
-webkit-background-size:cover;
-moz-background-size:cover ;
-o-background-size: cover;
background-size: 39%;
background-position: 800px -420px;
    
}

.imagen {   
    
background: url("imagenes/Grupo697@2x.png") no-repeat center top scroll;  
-webkit-background-size:cover;
-moz-background-size:cover ;
-o-background-size: cover;
background-size: 100%;
    
}
    
.margen-bottom-1  {
        
        margin-bottom: 0rem;
}
.margen-top-1   {
    
    margin-top: 0.3rem;
} 

    .margen-top-1-1   {
    
    margin-top: 3rem;
}   

.pading-top-1 {
    
    padding-top: 0rem!important;
}
    
.pading-bottom-1 {
    
        padding-bottom: 0.5rem!important;
}
    
.btn-secondary  {
    
background-color: #FE3B78;
border-color: #FE3B78;
border-radius: 22px;
width: 100% !important;
color: #ffffff !important;
    
}

.btn-secondary:hover    {
    
background-color: lightcoral;
border-color: lightcoral;
    
}
    .btn-success    {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 100%;
    
}

.btn-success:hover  {
    
background-color: #000033;
border-color: #000033;
    
}
    
.btn-primary {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 100%;
color: #ffffff !important;
    
    }
    
.fixe {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.titulo-secundario {
    font-size: 1.20rem;
    padding-left: 40px;
    padding-right: 40px;
}
    
.margen-bottom {
    margin-bottom: 1rem!important;
}
    
.ocultar1 {
        display: none;
    }   
    .ocultar2 {
        display: inline;
}
    
    .titulo-secundario2 {
    font-size: 1.60rem;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
}
    .cuadro {
    padding: 17px 10px 11px;
}
    
        .color-blanco {
        
    color: #000;   
    text-shadow: 0px 0px 0px white;
}  
    
 } /*********************** FIN  min-width: 768px ******/

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    
    .fondo-425 {
        background-color: transparent;
    }    

.imagen {   
    
background: url("imagenes/Grupo697@2x.png") no-repeat center top scroll;  
-webkit-background-size:cover;
-moz-background-size:cover ;
-o-background-size: cover;
background-size: 100%;
    
}
    
.margen-bottom-1  {
        
        margin-bottom: 0rem;
}
.margen-top-1   {
    
    margin-top: 0.3rem;
} 

    .margen-top-1-1   {
    
    margin-top: 3rem;
}   

.pading-top-1 {
    
    padding-top: 0rem!important;
}
    
.pading-bottom-1 {
    
        padding-bottom: 1rem!important;
}
    
.btn-secondary  {
    
background-color: #FE3B78;
border-color: #FE3B78;
border-radius: 22px;
width: 100% !important;
color: #ffffff !important;
    
}

.btn-secondary:hover    {
    
background-color: lightcoral;
border-color: lightcoral;
    
}
    .btn-success    {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 100%;
    
}

.btn-success:hover  {
    
background-color: #000033;
border-color: #000033;
    
}
    
.btn-primary {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 100%;
color: #ffffff !important;
    
    }


.fixe {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.titulo-secundario {
    font-size: 1.20rem;
    padding-left: 40px;
    padding-right: 40px;
}
    
.margen-bottom {
    margin-bottom: 1rem!important;
}
    
.ocultar1 {
        display: none;
    }   
    .ocultar2 {
        display: inline;
}
    
    .titulo-secundario2 {
    font-size: 1.60rem;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
}
    .cuadro {
    padding: 17px 10px 11px;
}

        .color-blanco {
        
    color: #000;   
    text-shadow: 0px 0px 0px white;
}  
    
} /************ FIN  min-width: 992px *******************/


@media (min-width: 1024px) { 
    
    .fondo-425 {
        background-color: transparent;
    }    
    
.imagen {   
    
background: url("imagenes/Grupo697@2x.png") no-repeat center top scroll;  
-webkit-background-size:cover;
-moz-background-size:cover ;
-o-background-size: cover;
background-size: 100%;
        
}


.btn-success    {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 50%;
    
}

.btn-success:hover  {
    
background-color: #000033;
border-color: #000033;
    
}

.btn-secondary  {
    
background-color: #FE3B78;
border-color: #FE3B78;
border-radius: 22px;
width: 70% !important;
color: #ffffff !important;
    
}

.btn-secondary:hover    {
    
background-color: lightcoral;
border-color: lightcoral;
    
}

.btn-primary {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 100%;
color: #ffffff !important;
    
    }

    .cuadro {
    
background: rgba(255,133,78,1);
background: -moz-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,133,78,1)), color-stop(100%, rgba(254,59,120,1)));
background: -webkit-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -o-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -ms-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: linear-gradient(to bottom, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff854e', endColorstr='#fe3b78', GradientType=0 );
    padding: 57px 30px 31px;
    margin-bottom: -200px;
    overflow: hidden;
-webkit-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
-moz-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
    border-radius: 10px;
    
}
    
.fondo  {
    
background: rgba(255,133,78,1);
background: -moz-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,133,78,1)), color-stop(100%, rgba(254,59,120,1)));
background: -webkit-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -o-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -ms-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: linear-gradient(to bottom, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff854e', endColorstr='#fe3b78', GradientType=0 );
color: #ffffff; 
    
}

.section_padding {
    
    padding: 50px 0;
    
}

    

.input {
    
border-radius: 10px;
-webkit-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
-moz-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
    
}  

.text-muted {
    
        color: white !important;
        font-weight: bold
            
}    

.margen-bottom-1 {
        
        margin-bottom: 3rem;
}

.margen-top-1   {
    
    margin-top: 3rem;
}

.pading-top-1 {
    
    padding-top: 2rem!important;
}

.pading-bottom-1 {
    
        padding-bottom: 0rem!important;
}
    
    .titulo-principal{
        font-size: 1.75rem;
    }
    .ocultar1 {
        display: none;
    }   
    .ocultar2 {
        display: inline;
    }


    

  .imagen-2-principal {   
    
background: url("imagenes/Grupo643@2x.png") no-repeat center top scroll;  
-webkit-background-size:cover;
-moz-background-size:cover ;
-o-background-size: cover;
background-size: 40%;
background-position: 530px -300px;
    
}
    .color-blanco {
        
    color: #000;   
    text-shadow: 0px 0px 0px white;
}    
    
    .titulo-secundario {
        font-size: 1.20rem;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .color-blanco {
        
    color: #000;   
    text-shadow: 0px 0px 0px white;
}    
    
    .titulo-secundario {
        font-size: 1.20rem;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .margen-menu {
        
        margin-left: 1rem!important;
        margin-right: 1rem!important;
    }
    
     .bg-light {
        
    background-color: white !important;
    color: #000 !important;    
}
    
    .menu-blanco {
        color: #fff !important;
    }
    .menu-negro {
        color: #000 !important;
    }

} /*************************************************/



/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
.fondo-425 {
        background-color: transparent;
    }        
    
.imagen {   
    
background: url("imagenes/Grupo697@2x.png") no-repeat center top scroll;  
-webkit-background-size:cover;
-moz-background-size:cover ;
-o-background-size: cover;
background-size: 90%;
        
}


.btn-success    {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 50%;
    
}

.btn-success:hover  {
    
background-color: #000033;
border-color: #000033;
    
}

.btn-secondary  {
    
background-color: #FE3B78;
border-color: #FE3B78;
border-radius: 22px;
width: 70% !important;
color: #ffffff !important;
    
}

.btn-secondary:hover    {
    
background-color: lightcoral;
border-color: lightcoral;
    
}

.btn-primary {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 100%;
color: #ffffff !important;
    
    }

    .cuadro {
    
background: rgba(255,133,78,1);
background: -moz-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,133,78,1)), color-stop(100%, rgba(254,59,120,1)));
background: -webkit-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -o-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -ms-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: linear-gradient(to bottom, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff854e', endColorstr='#fe3b78', GradientType=0 );
    padding: 57px 30px 31px;
    margin-bottom: -200px;
    overflow: hidden;
-webkit-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
-moz-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
    border-radius: 10px;
    
}
    
.fondo  {
    
background: rgba(255,133,78,1);
background: -moz-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,133,78,1)), color-stop(100%, rgba(254,59,120,1)));
background: -webkit-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -o-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -ms-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: linear-gradient(to bottom, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff854e', endColorstr='#fe3b78', GradientType=0 );
color: #ffffff; 
    
}

.section_padding {
    
    padding: 50px 0;
    
}

    

.input {
    
border-radius: 10px;
-webkit-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
-moz-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
    
}  

.text-muted {
    
        color: white !important;
        font-weight: bold
            
}    

.margen-bottom-1 {
        
        margin-bottom: 3rem;
}

.margen-top-1   {
    
    margin-top: 3rem;
}

.pading-top-1 {
    
    padding-top: 3rem!important;
}

.pading-bottom-1 {
    
        padding-bottom: 3rem!important;
}
    
    .titulo-principal{
        font-size: 1.75rem;
    }
    .ocultar1 {
        display: none;
    }   
    .ocultar2 {
        display: inline;
    }

/*.fixe {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
*/

  .imagen-2-principal {   
    
background: url("imagenes/Grupo643@2x.png") no-repeat center top scroll;  
-webkit-background-size:cover;
-moz-background-size:cover ;
-o-background-size: cover;
background-size: 40%;
background-position: 690px -400px;
    
}

    .color-blanco {
        
    color: #000;
        text-shadow: 0px 0px 0px white;
}    
    
    .titulo-secundario {
        font-size: 1.20rem;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .margen-menu {
        
        margin-left: 1rem!important;
        margin-right: 3rem!important;
    }
    .bg-light {
        
    background-color: white !important;
    color: #000 !important;    
}
    
    .menu-blanco {
        color: #fff !important;
    }
    .menu-negro {
        color: #000 !important;
    }
    
    
    
   /* .fondo-nivel-3 {
background: url("imagenes/cuadricula.png") no-repeat center top scroll;  
background-size: 35%;
background-position: 1100px -250px;  
        
    }
    
   .quitar-pading {
    padding-right: 10px;
    padding-left: 10px;
    }*/
    
    .ma-le-5   {
        
        margin-left: 3rem!important;
        
    }
    
    .ma-re-5   {
        
        margin-right: 3rem!important;
        
    }
    
    .ma-bo-5 {
        margin-bottom: 3rem!important;
    }
    

}/*********************************************************/

@media (min-width: 1440px) { 
    
    
    .fondo-425 {
        background-color: transparent;
    }    
    
    
.imagen {   
    
background: url("imagenes/Grupo697@2x.png") no-repeat center top scroll;  
-webkit-background-size:cover;
-moz-background-size:cover ;
-o-background-size: cover;
background-size: 85%;
        
}


.btn-success    {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 50%;
    
}

.btn-success:hover  {
    
background-color: #000033;
border-color: #000033;
    
}

.btn-secondary  {
    
background-color: #FE3B78;
border-color: #FE3B78;
border-radius: 22px;
width: 70% !important;
color: #ffffff !important;
    
}

.btn-secondary:hover    {
    
background-color: lightcoral;
border-color: lightcoral;
    
}

.btn-primary {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 100%;
color: #ffffff !important;
    
    }

    .cuadro {
    
background: rgba(255,133,78,1);
background: -moz-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,133,78,1)), color-stop(100%, rgba(254,59,120,1)));
background: -webkit-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -o-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -ms-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: linear-gradient(to bottom, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff854e', endColorstr='#fe3b78', GradientType=0 );
    padding: 57px 30px 31px;
    margin-bottom: -200px;
    overflow: hidden;
-webkit-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
-moz-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
    border-radius: 10px;
    
}
    
.fondo  {
    
background: rgba(255,133,78,1);
background: -moz-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,133,78,1)), color-stop(100%, rgba(254,59,120,1)));
background: -webkit-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -o-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -ms-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: linear-gradient(to bottom, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff854e', endColorstr='#fe3b78', GradientType=0 );
color: #ffffff; 
    
}

.section_padding {
    
    padding: 50px 0;
    
}

    

.input {
    
border-radius: 10px;
-webkit-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
-moz-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
    
}  

.text-muted {
    
        color: white !important;
        font-weight: bold
            
}    

.margen-bottom-1 {
        
        margin-bottom: 3rem;
}

.margen-top-1   {
    
    margin-top: 3rem;
}

.pading-top-1 {
    
    padding-top: 3rem!important;
}

.pading-bottom-1 {
    
        padding-bottom: 3rem!important;
}
    
    .titulo-principal{
        font-size: 1.75rem;
    }
    .ocultar1 {
        display: none;
    }   
    .ocultar2 {
        display: inline;
    }


/*.fixe {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
*/
    
    
.imagen-2-principal {   
    
background: url("imagenes/Grupo643@2x.png") no-repeat center top scroll;  
-webkit-background-size:cover;
-moz-background-size:cover ;
-o-background-size: cover;
background-size: 39%;
background-position: 800px -420px;
    
}

    .color-blanco {
        
    color: #000;   
    text-shadow: 0px 0px 0px white;
}    
    
    .titulo-secundario {
        font-size: 1.20rem;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .margen-menu {
        
        margin-left: 1rem!important;
        margin-right: 1.5rem!important;
    }
    
    .bg-light {
        
    background-color: white !important;
    color: #000 !important;    
}
    
    .menu-blanco {
        color: #fff !important;
    }
    .menu-negro {
        color: #000 !important;
    }
    
    .ma-le-5   {
        
        margin-left: 3rem!important;
        
    }
    
    .ma-re-5   {
        
        margin-right: 3rem!important;
        
    }
    
    .ma-bo-5 {
        margin-bottom: 3rem!important;
    }
    
} /*****************************************************/

@media (min-width: 2560px) { 
    
    
    .fondo-425 {
        background-color: transparent;
    }    
    
    
.imagen {   
    
background: url("imagenes/Grupo697@2x.png") no-repeat center top scroll;  
-webkit-background-size:cover;
-moz-background-size:cover ;
-o-background-size: cover;
background-size: 50%;
        
}


.btn-success    {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 50%;
    
}

.btn-success:hover  {
    
background-color: #000033;
border-color: #000033;
    
}

.btn-secondary  {
    
background-color: #FE3B78;
border-color: #FE3B78;
border-radius: 22px;
width: 70% !important;
color: #ffffff !important;
    
}

.btn-secondary:hover    {
    
background-color: lightcoral;
border-color: lightcoral;
    
}

.btn-primary {
    
background-color: #000033;
border-color: #000033;
border-radius: 22px;
width: 100%;
color: #ffffff !important;
    
    }

    .cuadro {
    
background: rgba(255,133,78,1);
background: -moz-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,133,78,1)), color-stop(100%, rgba(254,59,120,1)));
background: -webkit-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -o-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -ms-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: linear-gradient(to bottom, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff854e', endColorstr='#fe3b78', GradientType=0 );
    padding: 57px 30px 31px;
    margin-bottom: -200px;
    overflow: hidden;
-webkit-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
-moz-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
    border-radius: 10px;
    
}
    
.fondo  {
    
background: rgba(255,133,78,1);
background: -moz-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,133,78,1)), color-stop(100%, rgba(254,59,120,1)));
background: -webkit-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -o-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: -ms-linear-gradient(top, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
background: linear-gradient(to bottom, rgba(255,133,78,1) 0%, rgba(254,59,120,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff854e', endColorstr='#fe3b78', GradientType=0 );
color: #ffffff; 
    
}

.section_padding {
    
    padding: 50px 0;
    
}

    

.input {
    
border-radius: 10px;
-webkit-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
-moz-box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
box-shadow: 0px 0px 4px 0px rgba(254,59,120,1);
    
}  

.text-muted {
    
        color: white !important;
        font-weight: bold
            
}    

.margen-bottom-1 {
        
        margin-bottom: 3rem;
}

.margen-top-1   {
    
    margin-top: 3rem;
}

.pading-top-1 {
    
    padding-top: 3rem!important;
}

.pading-bottom-1 {
    
        padding-bottom: 3rem!important;
}
    
    .titulo-principal{
        font-size: 1.75rem;
    }
    .ocultar1 {
        display: none;
    }   
    .ocultar2 {
        display: inline;
    }


/*.fixe {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
*/
    
    
.imagen-2-principal {   
    
background: url("imagenes/Grupo643@2x.png") no-repeat center top scroll;  
-webkit-background-size:cover;
-moz-background-size:cover ;
-o-background-size: cover;
background-size: 39%;
background-position: 1300px -820px;
    
}

    .color-blanco {
        
    color: #000;   
    text-shadow: 0px 0px 0px white;
}    
    
    .titulo-secundario {
        font-size: 1.20rem;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .margen-menu {
        
        margin-left: 7rem!important;
        margin-right: 7.5rem!important;
    }
    
    .bg-light {
        
    background-color: white !important;
    color: #000 !important;    
}
    
    .menu-blanco {
        color: #fff !important;
    }
    .menu-negro {
        color: #000 !important;
    }
    
    .ma-le-5   {
        
        margin-left: 3rem!important;
        
    }
    
    .ma-re-5   {
        
        margin-right: 3rem!important;
        
    }
    
    .ma-bo-5 {
        margin-bottom: 3rem!important;
    }
    
}